@model IEnumerable<MVC_Forum.Models.User>

@{
    ViewData["Title"] = "List";
}

<h1>Friends</h1>
<a asp-action="Export">Export</a>

<form asp-action="Import" method="post"  
      enctype="multipart/form-data">  
          
    <input type="file" name="file" />  
    <button type="submit">Upload File</button>  
</form> 


<form method="post" asp-controller="Friends" asp-action="Add">
    <table border="0" cellpadding="2" cellspacing="2">
        <tr>
            <td>Username</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
   
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { name = item.Name })
            </td>
        </tr>
    }

    </tbody>
</table>